<div class="row" style="height: 100vh; overflow-y: auto">
  <div class="col-sm-2 nopadding w3-blue">
    <div class="d-flex justify-content-center" style="padding-top: 10px; padding-bottom: 20px">
      <img
        src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/50885278_2007713892859299_8043952954853556224_n.png?_nc_cat=111&_nc_oc=AQnUwpeK5kOHC-B6UrmWwA6_AY6Xeo4qS_6B1Kj9ni3OQ0xRjmBAPmcAUjGUxbb9tQE&_nc_ht=scontent.fsgn5-3.fna&oh=a8a63d1bfcbbf89cf4abf905b672367e&oe=5D324C93"
        width="150px" height="150px" class="w3-circle" />

    </div>
    <div class="list-group" style="padding-left: 15px">
      <div>
        <div class="list-group-item w3-indigo d-flex align-content-center">
          <i class="fas fa-caret-down" style="font-size: 24px"></i>
          <span style="padding-left: 5px">Stuff Management</span>
        </div>
        <div>
          <a href="/admin/account">
            <div class="list-group-item w3-blue w3-hover-green d-flex align-content-center ">
              <i class="fas fa-user" style="font-size: 24px"></i>
              <span style="padding-left: 5px">Account</span>
            </div>
          </a>
          <a href="/admin/banner">
            <div class="list-group-item w3-blue w3-hover-green d-flex align-content-center ">
              <i class="fas fa-image" style="font-size: 24px"></i>
              <span style="padding-left: 5px">Banner</span>
            </div>
          </a>
          <a href="/admin/event">
            <div class="list-group-item w3-blue w3-hover-green d-flex align-content-center ">
              <i class="fas fa-bezier-curve" style="font-size: 24px"></i>
              <span style="padding-left: 5px">Event</span>
            </div>
          </a>
          <a href="/admin/item">
            <div class="list-group-item w3-blue w3-hover-green d-flex align-content-center">
              <i class="fas fa-cubes" style="font-size: 28px"></i>
              <span style="padding-left: 5px">Item</span>
            </div>
          </a>
          <a href="/admin/flower">
            <div class="list-group-item w3-blue w3-hover-green d-flex align-content-center">
              <i class="fas fa-leaf" style="font-size: 24px"></i>
              <span style="padding-left: 5px">Flower</span>
            </div>
          </a>
          <a href="/admin/product">
            <div class="list-group-item w3-blue w3-hover-green d-flex align-content-center">
              <i class="fas fa-database" style="font-size: 24px"></i>
              <span style="padding-left: 10px">Product</span>
            </div>
          </a>
        </div>
      </div>

      <div>
        <div class="list-group-item w3-indigo d-flex align-content-center">
          <i class="fas fa-caret-down" style="font-size: 24px"></i>
          <span style="padding-left: 5px">Import Management</span>
        </div>
        <div>
          <a href="/admin/flowerImport">
            <div class="list-group-item w3-blue w3-hover-green d-flex align-content-center">
              <i class="fas fa-leaf" style="font-size: 24px"></i>
              <span style="padding-left: 5px">Flower Import</span>
            </div>
          </a>
          <a href="/admin/itemImport">
            <div class="list-group-item w3-blue w3-hover-green d-flex align-content-center">
              <i class="fas fa-cubes" style="font-size: 28px"></i>
              <span style="padding-left: 5px">Item Import</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-10" style="padding-right: 20px">
    <router-outlet></router-outlet>
  </div>
</div>
