<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <legend class="d-flex justify-content-center">Welcome to Flower Shop</legend>
        <div class="form-group">
          <input type="text"  placeholder="Enter Username" class="form-control" required
          [ngClass]="{'is-invalid': (username.invalid && (username.dirty || username.touched))}"
          name="username" #username="ngModel" [(ngModel)]="account.username"
          >
          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
            <div *ngIf="username.errors.required">
              Please fill in username
            </div>
          </div>
        </div>
        <div class="form-group">
            <input type="password"  placeholder="Enter Password" class="form-control" required
            [ngClass]="{'is-invalid': (password.invalid && (password.dirty || password.touched))}"
            name="password" #password="ngModel" [(ngModel)]="account.password"
            >
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
              <div *ngIf="password.errors.required">
                Please fill in password
              </div>
            </div>
          </div>
        <div class="d-flex justify-content-around">
          <button type="submit" class="btn btn-info">Login</button>
        </div>
        <div class="d-flex justify-content-around">
            <a href="/forget">Forget Password ?</a>
          </div>
    </form>
  </div>
  <div class="col-sm-4"></div>
</div>
