<h2>item</h2>

<button class="btn btn-success" (click)="openCreate()">New item</button>
<div class="list-group">

  <div class="card" *ngFor="let item of itemList; let i = index">
    <div class="list-group-item w3-hover-blue ">
      <div class="row">
        <div class="row col-sm-10">

          <div class="col-sm-5 d-flex align-items-center">
            {{item.name}}
          </div>
          <div class="col-sm-2 d-flex align-items-center">

            Còn: {{item.stock}}

          </div>
          <div class="col-sm-2 d-flex align-items-center">
            {{item.price | number}}&#8363;
          </div>
        </div>

        <div class="col-sm-2 d-flex align-items-center">
          <div class="w3-dropdown-hover">
            <i class="fas fa-pen "></i>
            <div class="w3-dropdown-content w3-bar-block">
              <button href="#" class="w3-bar-item btn btn-info" (click)="openEdit(item)">Edit</button>
              <button href="#" class="w3-bar-item btn btn-danger" (click)="delete(item.id)">Xóa</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
